:root{
    --primary: #d81e5b;
    --secondary: #8c38ff;
    --dark: #131a26;
    --light: #eee; 
  }
  
  * {
    margin: 10;
    padding: 10;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
  }
  
  body {
    background-color: var(--dark);
  }
  
  .App {
    display: flex;
    min-height: 65vh;
    align-items: flex-start;
    justify-content: center;
  }


  .gameBoard {
    width: 100%;
    margin-left: 30px;
    max-width: 400px;
    margin-top: 40px;
  }


.Square {
  /* width: 5em;
  height: 5em; */
  display: flex;
  color: white;
  border: 1px solid #999;
  float: left;
  font-size: 25px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: 5px;
  margin-top: 5px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

  
.KeyBoard {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 80%;
  align-items: center;
  justify-content: center;
}

.button { 
border-radius: 10%;
width: 4em;
height: 4em;
text-align: center;
align-items: center;
justify-content: center;
background-color: #999;
font-weight: bold;
margin-left: 3px;
margin-bottom: 3px;
color: white;
display: flex;
float: left;
font-size: 18px;
}
